<div class="card fund-card">
  <div class="fund-card__content">
    <h2>Fund more mousetraps</h2>
    <p>
      Mousetraps are cheap, but they only survive a small number of snaps before they
      start to come apart. If you want to help fund more traps, toss a few bucks our way.
    </p>
  </div>
  <div class="fund-card__cta">
    <stripe-buy-button
      buy-button-id="buy_btn_1SxbVtRuyNSoKxKDpmt3gvVq"
      publishable-key="pk_test_51Sxa81RuyNSoKxKDmeD8T9Da8AKTSUKAgWcMXlDnfWN7TdpA3IE6CAGs49AZs4880iplifQtNETHnfNzKN5EGSmO00LVNI0jDO"
    >
    </stripe-buy-button>
  </div>
</div>
